@use "../partials/functions" as f;
@use "../partials/variables" as v;
@use "../partials/mixins" as m;
@use "sass:map";

@layer components {
	.bioCard {
		/* variables locales */
		--bgColor: var(--darkBlue);
		--textColor: var(--blue);
		--imageFilter: saturate(0);
		--gradientColor1: var(--pink);
		--gradientColor2: var(--orange);
		--gradientColor3: var(--lime);
		--gradientColor4: var(--green);
		--pillColor: var(--pink);
		--pillAltColor: var(--black);
		--element-width: #{f.rem(320)};
		--padding: #{f.rem(32)};
		--separatorOpacity: 1;

		width: var(--element-width);
		padding: var(--padding);
		border-radius: f.rem(16);
		background-color: var(--bgColor);
		color: var(--textColor);
		box-shadow: 0 0 0.5rem var(--shadow-color);
		@include m.flexbox(column, flex-start, center);
		position: relative;
		overflow: hidden;
		text-align: center;
		transition: all 0.3s;

		@media (prefers-color-scheme: dark) {
			--bgColor: var(--white);
			--textColor: var(--blue);
			--imageFilter: saturate(100%);
			--gradientColor1: var(--lime);
			--gradientColor2: var(--green);
			--gradientColor3: var(--pink);
			--gradientColor4: var(--orange);
			--pillColor: var(--blue);
			--pillAltColor: var(--white);
			--separatorOpacity: 0.25;
		}

		@media screen and (min-width: map.get(v.$breakpoints, "sm")) {
			--element-width: #{f.rem(720)};
			--padding: #{f.rem(0)};
			--separatorOpacity: 0.25;
			@include m.flexbox(row, flex-start, stretch);
			text-align: left;
		}
		& > * {
			margin-top: 0;
			transition: all 0.3s;
		}
		&__header {
			position: absolute;
			top: f.rem(16);
			left: f.rem(16);
			right: f.rem(16);
			@include m.flexbox(row, flex-end, center);
		}
		&__img {
			filter: var(--imageFilter);
			@include m.roundImage(f.rem(176));
			margin-bottom: f.rem(24);
			@media screen and (min-width: map.get(v.$breakpoints, "sm")) {
				margin: 0;
				aspect-ratio: unset;
				border-radius: 0;
				width: f.rem(240);
			}
		}
		&__content {
			@media screen and (min-width: map.get(v.$breakpoints, "sm")) {
				padding: f.rem(20);
				overflow: hidden;
			}
		}
		&__h1 {
			font-size: f.rem(24);
			line-height: 1;
			font-weight: 700;
			margin-bottom: f.rem(12);
			@include m.textGradient(
				bottom,
				var(--gradientColor1),
				var(--gradientColor2)
			);
		}
		&__h2 {
			font-size: f.rem(20);
			line-height: 1;
			font-weight: 400;
			margin-bottom: f.rem(24);
		}
		&__hr {
			width: 100%;
			border-color: var(--blue);
			border-width: f.rem(1);
			margin-bottom: f.rem(16);
			opacity: var(--separatorOpacity);
		}
		&__p {
			line-height: normal;
			margin-bottom: f.rem(48);
		}
		&__ul {
			@include m.resetList;
			@include m.flexbox(row, center, center, f.rem(24));
			position: relative;
		}
		&__a {
			@include m.pillButton(var(--white), var(--pillColor));
			&--alt {
				@include m.pillButton(
					linear-gradient(
						to bottom,
						var(--gradientColor3) 0%,
						var(--gradientColor4) 100%
					),
					var(--pillAltColor),
					true
				);
			}
		}
		&__footer {
			position: relative;
			width: 100%;
			&::before {
				content: "";
				background: linear-gradient(
					-187deg,
					var(--gradientColor2) 0%,
					var(--gradientColor1) 60%
				);
				position: absolute;
				top: f.rem(-32);
				left: f.rem(-32);
				right: f.rem(-32);
				bottom: f.rem(-56);
				transform: skewY(7deg);
				@media screen and (min-width: map.get(v.$breakpoints, "sm")) {
					transform: skewY(3deg);
					top: f.rem(-16);
				}
			}
		}
	}
}
