@use "fonts" as f;
@use "variables" as v;
@use "sass:color";

/* Globals */

@layer globals {
	:root {
		// Génération des variables css
		@each $name, $value in v.$colors {
			--#{$name}: #{$value};
			--#{$name}-light: #{color.scale($value, $lightness: 30%)};
		}
		--bodyBgColor: var(--white);
		--bodycolor: var(--black);
		--shadow-color: rgba(0, 0, 0, 0.4);
		@media screen and (prefers-color-scheme: dark) {
			--bodyBgColor: var(--black);
			--bodycolor: var(--white);
			--shadow-color: rgba(255, 255, 255, 0.4);
		}
	}

	body {
		font-family: f.$font1;
		background-color: var(--bodyBgColor);
		color: var(--bodycolor);
	}

	img {
		max-width: 100%;
	}
}
